.card-img-top {
    margin: auto;
    margin-top: 10px;
    width: 150px;
    bottom: 10px;
}

body {
    background-image: url("");
    background-repeat: repeat-y;
    background-size: cover;
}

.rules {
    color: navy;
    text-shadow: 2px 2px lightgray;
    margin: 20px 0px;
}

.gems {
    margin: 20px 0px;
}

#firstgem {
    background-color: lightcoral;
}

#secondgem {
    background-color: lavender;
}

#thirdgem {
    background-color: lightpink;
}

#fourthgem {
    background-color: lightsteelblue;
}